{
  "log": {
    "_recordingName": "fetch-roles",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "e1a73de39b17fa626e82dfb2ff8c4399",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "id",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "timestamp",
              "value": "2022-06-24T15:31:31+0000"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://xentaurspov.tetrationpreview.com/openapi/v1/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 891,
            "text": "[{\"id\":\"5f48844b497d4f10af9c3da7\",\"name\":\"Agent Installer\",\"app_scope_id\":\"5c476d0a497d4f5f5b1e6d3f\",\"description\":\"Install, Monitor and Upgrade Agents\"},{\"id\":\"5c476d0c497d4f11461e6d80\",\"name\":\"XENTAURSPOV Tenant Owner\",\"app_scope_id\":\"5c476d0a497d4f5f5b1e6d3f\",\"description\":\"Managed by TaaS Portal\"},{\"id\":\"5c476d0d497d4f5f5b1e6d51\",\"name\":\"XENTAURSPOV Read Only\",\"app_scope_id\":\"5c476d0a497d4f5f5b1e6d3f\",\"description\":\"Managed by TaaS Portal\"},{\"id\":\"5c476d0e497d4f5f5b1e6d55\",\"name\":\"XENTAURSPOV Execute\",\"app_scope_id\":\"5c476d0a497d4f5f5b1e6d3f\",\"description\":[...]
