{
  "log": {
    "_recordingName": "fetch-workloads",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "176b720bfbca75a393fd2e87a6640742",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "id",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "timestamp",
              "value": "2022-06-17T14:47:25+0000"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "x-tetration-cksum",
              "value": "7015ea3f4cd4069cd3e77c05b9ebfb382872569203e405efe1f7175b8c1f0f18"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://xentaurspov.tetrationpreview.com/openapi/v1/inventory/search"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 18592,
            "text": "{\"results\":[{\"address_type\":\"IPV4\",\"agent_type\":\"ENFORCER\",\"host_name\":\"oav-win2019\",\"host_uuid\":\"6853a765327ae1ba1c0702dc75c39b59b3999d0b\",\"iface_mac\":\"60:45:bd:7b:3a:b5\",\"iface_name\":\"Ethernet\",\"ip\":\"10.60.60.6\",\"netmask\":\"255.255.255.0\",\"os\":\"MSServer2019Standard\",\"os_version\":null,\"resource_name\":\"oav-win2019\",\"resource_type\":\"WORKLOAD\",\"tags_scope_id\":[\"5c476d0a497d4f5f5b1e6d3f\",\"5e34b47a497d4f4445877594\",\"5e34b4ee755f026063d980ba\"],\"tags_scope_name\":[\"XENTAURSPOV\",\"XENTAURSPOV:DevOps Demo\",\"XENTAURSPOV:DevOps Demo:InfoSec\"],\"user_LDAP_department\":[],\"user_LDAP_description\":[],\"user_LDAP_displayName\":[],\"user_LDAP_extensionAttribute1\":null,\"user_LDAP_extensionAttribute2\":null,\"user_LDAP_extensionAttribute3\":null,\"user_LDAP_extensionAttribute4\":null,\"user_LDAP_memberOf\":[],\"user_LDAP_sAMAccountName\":[],\"user_LDAP_userPrincipalName\":[],\"user_Net_Name\":null,\"user_Net_Org\":null,\"user_Net_Silo\":null,\"user_Net_Type\":null,\"user_name\":null,\"user_orchestrator_ASAv\":null,\"user_orchestrator_CCP Cluster Image name\":null,\"user_orchestrator_CCP Cluster Kubernetes version\":null,\"user_orchestrator_CliQrUserId\":[],\"user_orchestrator_KubernetesCluster\":null,\"user_orchestrator_Name\":[],\"user_orchestrator_RH_BU\":null,\"user_orchestrator_RH_Demo\":null,\"user_orchestrator_RH_Location\":null,\"user_orchestrator_app\":[],\"user_orchestrator_aws-app\":[],\"user_orchestrator_aws-app-tier\":[],\"user_orchestrator_aws-bu\":[],\"user_orchestrator_aws-env\":[],\"user_orchestrator_aws-tier\":[],\"user_orchestrator_aws:autoscaling:groupName\":[],\"user_orchestrator_aws:ec2launchtemplate:id\":[],\"user_orchestrator_aws:ec2launchtemplate:version\":[],\"user_orchestrator_c3-mvp\":null,\"user_orchestrator_c3-test\":[],\"user_orchestrator_c3labs\":null,\"user_orchestrator_env\":[],\"user_orchestrator_k8s.io/cluster-autoscaler/node-template/label/kops.k8s.io/instancegroup\":null,\"user_orchestrator_k8s.io/role/master\":null,\"user_orchestrator_k8s.io/role/node\":null,\"user_orchestrator_mytypeofshop\":null,\"user_orchestrator_owner\":[],\"user_orchestrator_system/cluster_id\":[],\"user_orchestrator_system/cluster_name\":[],\"user_orchestrator_system/dns_name\":[],\"user_orchestrator_system/interface_id\":[],\"user_orchestrator_system/machine_id\":[],\"user_orchestrator_system/machine_name\":[],\"user_orchestrator_system/namespace\":[],\"user_orchestrator_system/orch_type\":[],\"user_orchestrator_system/virtual_network_id\":[],\"user_orchestrator_system/workload_type\":[],\"user_orchestrator_test\":null,\"user_orchestrator_vc-app\":null,\"user_orchestrator_vc-app-tier\":null,\"user_orchestrator_vc-bu\":null,\"user_orchestrator_vc-environment\":null,\"user_orchestrator_vc-lifecycle\":null,\"user_orchestrator_vc-location\":null,\"user_orchestrator_vc_app-id\":[],\"user_orchestrator_vc_app-tier\":[],\"user_orchestrator_vc_bu\":null,\"user_orchestrator_vc_common\":[],\"user_orchestrator_vc_sdlc\":[],\"user_orchestrator_vc_tenant\":[],\"user_orchestrator_vc_zone\":[],\"user_student-appid\":null,\"user_student-approle\":null,\"user_student-bu\":null,\"user_student-env\":null,\"user_student-geo\":null,\"user_student-location\":null,\"user_student-org\":null,\"user_version\":null,\"user_x-appid\":null,\"user_x-approle\":null,\"user_x-bu\":\"xLab\",\"user_x-common\":[],\"user_x-environment\":null,\"user_x-lifecycle\":null,\"user_x-location\":null,\"user_x-network\":null,\"user_x-student\":null,\"user_x-tenant\":\"DevOps\",\"user_x-th_xlab\":null,\"user_x-tier\":null,\"user_x-type\":null,\"user_x-user\":null,\"user_x-zone\":[],\"uuid\":\"6853a765327ae1ba1c0702dc75c39b59b3999d0b\",\"uuid_src\":\"SENSOR\",\"vrf_id\":\"700026\",\"vrf_name\":\"XENTAURSPOV\"},{\"address_type\":\"IPV4\",\"agent_type\":\"ENFORCER\",\"host_name\":\"xd-mtos-db1-d\",\"host_uuid\":\"f20c1b13ad85751945dd16e0f22c71b32f066e7d\",\"iface_mac\":\"00:22:48:4c:e4:5d\",\"iface_name\":\"eth0\",\"ip\":\"10.70.24.4\",\"netmask\":\"255.255.255.0\",\"os\":\"CentOS\",\"os_version\":\"7.7\",\"resource_name\":\"xd-mtos-db1-d\",\"resource_type\":\"WORKLOAD\",\"tags_scope_id\":[\"5c476d0a497d4f5f5b1e6d3f\",\"5eb81726755f020eea4bd924\",\"61604ccc497d4f6c5c8160f7\"],\"tags_sco[...]
