{
  "log": {
    "_recordingName": "client-id-auth-error",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "2026b8712576d905589963d86dae663a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "id",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "timestamp",
              "value": "2022-06-09T17:16:34+0000"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://xentaurspov.tetrationpreview.com/openapi/v1/users"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=utf-8",
            "size": 20,
            "text": "Unknown credentials\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=utf-8"
            },
            {
              "name": "x-zen-fury",
              "value": "700a5171e6929996e9d138c1d096c3eb31a71de2"
            },
            {
              "name": "x-cdn",
              "value": "Served-By-Zenedge"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 259,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
