{
  "log": {
    "_recordingName": "build-scope-relationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "e14c5d6b230922a67766822522365ec4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "id",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "timestamp",
              "value": "2022-06-15T19:26:52+0000"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://xentaurspov.tetrationpreview.com/openapi/v1/app_scopes"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 13542,
            "text": "[{\"filter_type\":\"AppScope\",\"id\":\"6160b3ef755f02022a527bde\",\"name\":\"XENTAURSPOV:xDemo:InfoSec:Cloud:Common:Umbrella\",\"description\":\"\",\"short_name\":\"Umbrella\",\"priority\":\"028:001:001:001:003:001:Z\",\"short_priority\":1,\"policy_priority\":61,\"query\":{\"type\":\"and\",\"filters\":[{\"field\":\"vrf_id\",\"type\":\"eq\",\"value\":700026},{\"type\":\"or\",\"filters\":[{\"field\":\"user_x-tenant\",\"type\":\"eq\",\"value\":\"xDemo\"},{\"field\":\"user_orchestrator_vc_tenant\",\"type\":\"eq\",\"value\":\"xDemo\"}]},{\"type\":\"or\",\"filters\":[{\"field\":\"ip\",\"type\":\"subnet\",\"value\":\"10.0.0.0/8\"},{\"field\":\"ip\",\"type\":\"subnet\",\"value\":\"172.16.0.0/12\"},{\"field\":\"ip\",\"type\":\"subnet\",\"value\":\"192.168.0.0/16\"}]},{\"type\":\"or\",\"filters\":[{\"field\":\"user_orchestrator_vc_zone\",\"type\":\"eq\",\"value\":\"Cloud\"},{\"field\":\"user_orchestrator_vc_zone\",\"type\":\"eq\",\"value\":\"Internal\"},{\"field\":\"user_orchestrator_vc_zone\",\"type\":\"eq\",\"value\":\"DMZ\"},{\"field\":\"user_x-zone\",\"type\":\"eq\",\"value\":\"Cloud\"},{\"field\":\"user_x-zone\",\"type\":\"eq\",\"value\":\"Internal\"},{\"field\":\"user_x-zone\",\"type\":\"eq\",\"value\":\"DMZ\"}]},{\"type\":\"or\",\"filters\":[{\"field\":\"user_orchestrator_vc_common\",\"type\":\"eq\",\"value\":\"TRUE\"},{\"field\":\"user_x-common\",\"type\":\"eq\",\"value\":\"TRUE\"}]},{\"type\":\"or\",\"filters\":[{\"field\":\"user_orchestrator_vc_app-id\",\"type\":\"eq\",\"value\":\"Umbrella\"},{\"field\":\"user_x-appid\",\"type\":\"eq\",\"value\":\"Umbrella\"}]}]},\"short_query\":{\"type\":\"or\",\"filters\":[{\"type\":\"eq\",\"field\":\"user_orchestrator_vc_app-id\",\"value\":\"Umbrella\"},{\"type\":\"eq\",\"field\":\"user_x-appid\",\"value\":\"Umbrella\"}]},\"dirty\":false,\"dirty_short_query\":null,\"vrf_id\":700026,\"parent_app_scope_id\":\"61604dc5497d4f7a748160f8\",\"root_app_scope_id\":\"5c476d0a497d4f5f5b1e6d3f\",\"child_app_scope_ids\":[],\"created_at\":1633727471,\"updated_at\":1649942030,\"deleted_at\":null,\"sub_type\":\"DNS_SERVERS\"},{\"filter_type\":\"AppScope\",\"id\":\"6160b419755f02097f527bde\",\"name\":\"XENTAURSPOV:xDemo:InfoSec:Cloud:Common:Active Directory\",\"description\":\"\",\"short_name\":\"Active Directory\",\"priority\":\"028:001:001:001:003:002:Z\",\"short_priority\":2,\"policy_priority\":62,\"query\":{\"type\":\"and\",\"filters\":[{\"field\":\"vrf_id\",\"type\":\"eq\",\"value\":700026},{\"type\":\"or\",\"filters\":[{\"field\":\"user_x-tenant\",\"type\":\"eq\",\"value\":\"xDemo\"},{\"field\":[...]
