{
  "log": {
    "_recordingName": "build-policy-scope-relationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0a89e30217bc8b1a2c8d3f7cbeca639f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "id",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "timestamp",
              "value": "2022-09-08T19:09:09+0000"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://xentaurspov.tetrationpreview.com/openapi/v1/applications"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2323,
            "text": "[{\"id\":\"5c4e4f58755f02067decfe0d\",\"name\":\"VLC µSeg Demo\",\"app_scope_id\":\"5c4db69a755f0243feecfe39\",\"description\":null,\"author\":\"Matt Mullen\",\"primary\":true,\"alternate_query_mode\":true,\"enforced_version\":27,\"enforcement_enabled\":true,\"created_at\":1548635992,\"latest_adm_version\":2},{\"id\":\"5cc77cd6755f024218022490\",\"name\":\"My Type of Blog\",\"app_scope_id\":\"5cc75f73497d4f572daf85cb\",\"description\":null,\"author\":\"Matt Mullen\",\"primary\":true,\"alternate_query_mode\":true,\"enforced_version\":0,\"enforcement_enabled\":false,\"created_at\":1556577494,\"latest_adm_version\":5},{\"id\":\"5cd08d06497d4f58edaf85ce\",\"name\":\"xLab_Global Policy\",\"app_scope_id\":\"5c4db696755f026f9becfe3b\",\"description\":\"Global Policy for xLab\",\"author\":\"Matt Mullen\",[...]
