{
  "log": {
    "_recordingName": "fetch-packages",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "176b720bfbca75a393fd2e87a6640742",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "id",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "timestamp",
              "value": "2022-06-23T15:54:08+0000"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "x-tetration-cksum",
              "value": "7c6d1b5c9eec573b91e389f9026ac1d5e36a4893228516bd28378d15ef09ac47"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://xentaurspov.tetrationpreview.com/openapi/v1/inventory/search"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2013,
            "text": "{\"results\":[{\"uuid\":\"eafbb279f34dc5ca4792a887b55690e0d1ffdb0b\"},{\"uuid\":\"25006d27879ac92f9bff0dd3f63129cd2e3c97e4\"},{\"uuid\":\"07a92d2055b047162a8c73f2ffa1f6531736196d\"},{\"uuid\":\"97cc25d6e3c923c1a3e8980e199e747be56c2024\"},{\"uuid\":\"3edc775662d8444e6042af10b32ce5be51ae2a79\"},{\"uuid\":\"7b6fc172bc533aeee66bd3cc477738518432e7b8\"},{\"uuid\":\"b61de37683dbccc9310af3ed4b5aa53a8aa00c59\"},{\"uuid\":\"c28d44d6944320ea69585f2b13e8ed2a3085684a\"},{\"uuid\":\"d66278ca04f6721c10fbdefb0610f956fb1cfe34\"},{\"uui[...]
