{
  "log": {
    "_recordingName": "build-user-role-relationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "2026b8712576d905589963d86dae663a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "id",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "timestamp",
              "value": "2022-06-24T15:31:32+0000"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://xentaurspov.tetrationpreview.com/openapi/v1/users"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 3249,
            "text": "[{\"id\":\"5cc76b3b755f026cf702248a\",\"email\":\"REDACTED@example.com\",\"first_name\":\"[REDACTED]\",\"last_name\":\"[REDACTED]\",\"top_level\":false,\"app_scope_id\":\"5c476d0a497d4f5f5b1e6d3f\",\"preferences\":{\"root_app_scope_id\":\"5c476d0a497d4f5f5b1e6d3f\",\"app_scope_id\":\"5c476d0a497d4f5f5b1e6d3f\",\"vrf_id\":\"700026\",\"tenant_id\":\"700026\"},\"two_factor_enabled\":false,\"bypass_external_auth\":false,\"current_sign_in_at\":0,\"created_at\":1556572987,\"updated_at\":1656017367,\"disabled_at\":null,\"role_ids\":[\"5c476d0c497d4f11461e6d80\"],\"taas_portal_sync_updated_at\":1656017425,\"taas_portal_sync_status\":\"Provisioned\",\"taas_portal_sync_debug\":[\"Identity Manager Group Membership synced. Sync started at 2019-09-20 02:25:06 UTC and finished at 2019-09-20 02:25:07 UTC.\",\"Cluster User synced. Sync started at 2019-09-20 02:25:08 UTC and finished at 2019-09-20 02:25:09 UTC.\"],\"taas_user_sync_status\":\"provisioned\"},{\"id\":\"5d97acf0497d4f43b1006bb9\",\"email\":\"REDACTED@example.com\",\"first_name\":\"[REDACTED]\",\"last_name\":\"[REDACTED]\",\"top_level\":false,\"app_scope_id\":\"5c476d0a497d4f5f5b1e6d3f\",\"preferences\":{\"root_app_scope_id\":\"5c476d0a497d4f5f5b1e6d3f\",\"app_scope_id\":\"5c476d0a497d4f5f5b1e6d3f\",\"vrf_id\":\"700026\",\"tenant_id\":\"700026\"},\"two_factor_enabled\":false,\"bypass_external_auth\":false,\"current_sign_in_at\":1570269322,\"created_at\":1570221296,\"up[...]
