{
  "log": {
    "_recordingName": "client-secret-auth-error",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "2026b8712576d905589963d86dae663a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "id",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "timestamp",
              "value": "2022-06-09T19:44:55+0000"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://xentaurspov.tetrationpreview.com/openapi/v1/users"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=utf-8",
            "size": 16,
            "text": "Invalid request\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=utf-8"
            },
            {
              "name": "x-zen-fury",
              "value": "3b6d15a756e37b5902926cf13c95462fed5a83d1"
            },
            {
              "name": "x-cdn",
              "value": "Served-By-Zenedge"
            }
          ],
          "status": 403,
          "statusText": "Forbidden"
        },
        "time": 417,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
